{% extends "base_generic.html" %}

{% block content %}

	<div class="m-header-1"> {{ band.name }} </div>

	<div class="m-header-2"> {{ album.name }} </div>

	<div class='m-parag'> {{ album.description }} </div>


	{% if tracks %}

		<div class='m-parag'> Треклист: </div>

		<ul>		
			{% for track in tracks %}
				<li>
				<a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
					{% if perms.mediapleer.can_change %}
						<a href="{{ track.get_absolute_url }}/del">(удалить)</a> 
					{% endif %}  
				</li>
			{% endfor %}
		</ul>
	{% else %}

	{% endif %}
		

{% endblock %}