{% extends "base_generic.html" %}

{% block content %}

	
	{% if perms.mediapleer.can_change %}
		<a href="{% url 'album-add' %}">Добавить альбом</a> 
	{% endif %}  

	<div class="m-header-2">Список альбомов:</div>

	{% if album_list %}
		<ul>		
			{% for ablum in album_list %}
				<li>
				<a href="{{ ablum.get_absolute_url }}">{{ ablum.name }}</a> 
					{% if perms.mediapleer.can_change %}
						<a href="{{ ablum.get_absolute_url }}/del">(удалить)</a> 
					{% endif %}  
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Альбомов нет.</p>
	{% endif %}      

{% endblock %}